doctype html
html.
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/index.css" />
	</head>
	<body class="landing">
		<div id="page-wrapper">
			<!-- Banner -->
				<section id="banner">
					<div id="info">
						<img src="images/snapshop.png" alt="Snap Shop" id="logo"/><br>
						<div class="container 75%" >
							<div>
								<form>
									<input id="urlText" placeholder="Enter Url..." id="urlInput"/>
									<input type="file" accept="image/*; capture=camera" id="uploadButton"/>
									<br/>
									<br/>
									<input type="button" id="submitButton" value="Online Search" href="../results.html" style="margin-bottom: 2em;"/>
									<input type="button" id="nearbySearch" value="Nearby Search" href="../mappedResults.html"/>
								</form>
							</div>
						</div>
					</div>
				</section>
		</div>

		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.dropotron.min.js"></script>
		<script src="assets/js/jquery.scrollgress.min.js"></script>
		<script src="assets/js/skel.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>
		<script src="javascripts/upload.js"></script>
		<script src="javascripts/clarifai.js"></script>

	</body>
</html>
