doctype html
html.
	<head>
		<title>SnapShop</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/index.css" />
		<link rel="stylesheet" href="assets/css/main.css" />

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	</head>
	<body>
		<header>
			<img id="mainImg" src="images/snapshop.png" alt="title" />
		</header>
		
		<section class="banner">
			<p><strong>Your image:</strong></p>
			<img id="searchedImg" src=url("http://ecx.images-amazon.com/images/I/51g%2BnwQxi7L._SL1000_.jpg") alt="red panda"/>
			<form enctype="multipart/form-data">
				<input type="file" name="upload" id="uploadButton"/>
				<input type="button" name="newTags" value="Submit" id="submitButton"/>
			</form>
		</section>

		<section class="results">
			<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-3 col-md-4">
				<!--Get images from clarifai-->
					<img class="icon" src=url("http://ecx.images-amazon.com/images/I/51qV0pNiVsL.jpg") alt="red panda"/>
					<p>
						<strong>Afterglow Wired Conroller for XBox 360 - Blue</strong>
						<br />
						<a href="http://www.amazon.com/gp/product/B00EZKNT18?keywords=x-box%20controller&qid=1445209601&ref_=sr_1_4&sr=8-4">PDP</a>
						<br />
						<em>$24.95</em>
					</p>
				</div>
				<div class="col-xs-12 col-sm-3 col-md-4">
				<!--Get images from clarifai-->
					<img class="icon" src=url("http://ecx.images-amazon.com/images/I/81k6iDsoqrL._SL1500_.jpg") alt="red panda"/>
					<p>
						<strong>Xbox 360 Wireless Controller - Glossy Black</strong>
						<br />
						<a href="http://www.amazon.com/gp/product/B003ZSP0WW?keywords=x-box%20controller&qid=1445209601&ref_=sr_1_1&sr=8-1">Microsoft</a>
						<br />
						<em>$32.49</em>
					</p>
				</div>
				<div class="col-xs-12 col-sm-3 col-md-4">
				<!--Get images from clarifai-->
					<img class="icon" src=url("http://ecx.images-amazon.com/images/I/71V-irTKxcL._SL1500_.jpg") alt="red panda"/>
					<p>
						<strong>Xbox 360 Wireless Controller - Camouflage</strong>
						<br />
						<a href="http://www.amazon.com/gp/product/B00CXTX2YW?keywords=x-box%20controller&qid=1445209601&ref_=sr_1_3&sr=8-3">Microsoft</a>
						<br />
						<em>$39.96</em>
					</p>
					</div>
				</div>

				
			</div>

		</section>


		<footer>
			<p>@DubHacks2015</p>
		</footer>


		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
			<script src="javascripts/search_results.js"></script>

	</body>
</html>
