doctype html
html.
	<head>
		<title>SnapShop</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/index.css" />
		<link rel="stylesheet" href="assets/css/main.css" />

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	</head>
	<body>
		<header>
			<img id="mainImg" src="images/snapshop.png" alt="title" />
		</header>
		
		<section class="results">
			<p><strong>Your image:</strong></p>
			<img id="searchedImg" src="images/mainpanda.png" alt="red panda"/>
			<form enctype="multipart/form-data">
				<input type="file" name="upload" id="uploadButton"/>
				<button name="newTags" value="submit" id="submitButton">Submit</button>
			</form>
		</section>

		<section class="results">
			<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-3 col-md-4">
				<!--Get images from clarifai-->
					<img class="icon" src="images/mainpanda.png" alt="red panda"/>
					<p>
						<strong>Red Panda</strong>
						<br />
						<a href="redpanda.com">RedPanda.com</a>
						<br />
						<em>$$$$$Monies</em>
						<br />
						Rating?
					</p>
				</div>
				<div class="col-xs-12 col-sm-3 col-md-4">
				<!--Get images from clarifai-->
					<img class="icon" src="images/mainpanda.png" alt="red panda"/>
					<p>
						<strong>Red Panda</strong>
						<br />
						<a href="redpanda.com">RedPanda.com</a>
						<br />
						<em>$$$$$Monies</em>
						<br />
						Rating?
					</p>
				</div>
				<div class="col-xs-12 col-sm-3 col-md-4">
				<!--Get images from clarifai-->
					<img class="icon" src="images/mainpanda.png" alt="red panda"/>
					<p>
						<strong>Red Panda</strong>
						<br />
						<a href="redpanda.com">RedPanda.com</a>
						<br />
						<em>$$$$$Monies</em>
						<br />
						Rating?
					</p>
					</div>
				</div>

				
			</div>

		</section>


		<footer>
			<p>@DubHacks2015</p>
		</footer>


		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
			<script src="javascripts/search_results.js"></script>

	</body>
</html>