doctype html
html.
	<head>
		<title>SnapShop</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="public/assets/css/main.css" />
		<link rel="stylesheet" href="public/assets/css/index.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
		<header>
			<img id="mainImg" src="public/images/snapshop.png" alt="title" />
		</header>
		
		<section class="results">
			<strong>Your image:</strong><br />
			<img id="searchedImg" src="public/images/mainpanda.png" alt="red panda"/>
			<form enctype="multipart/form-data">
				<input type="file" name="upload" />
				<button name="newTags" value="submit">Submit</button>
			</form>
		</section>
		<section class="results">
			<div class="container">
			<div class="row">
				<div class="col-md-4">
				<!--Get images from clarifai-->
					<img class="icon" src="public/images/mainpanda.png" alt="red panda"/>
					<p>
						<strong>Red Panda</strong>
						<br />
						<a href="redpanda.com">RedPanda.com</a>
						<br />
						<em>$$$$$Monies</em>
						<br />
						Rating?
					</p>
				</div>
				<div class="col-sm-4">
				<!--Get images from clarifai-->
					<img class="icon" src="public/images/mainpanda.png" alt="red panda"/>
					<p>
						<strong>Red Panda</strong>
						<br />
						<a href="redpanda.com">RedPanda.com</a>
						<br />
						<em>$$$$$Monies</em>
						<br />
						Rating?
					</p>
				</div>
				<div class="col-sm-4">
				<!--Get images from clarifai-->
					<img class="icon" src="public/images/mainpanda.png" alt="red panda"/>
					<p>
						<strong>Red Panda</strong>
						<br />
						<a href="redpanda.com">RedPanda.com</a>
						<br />
						<em>$$$$$Monies</em>
						<br />
						Rating?
					</p>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-4">
					<!--Get images from clarifai-->
						<img class="icon" src="public/images/mainpanda.png" alt="red panda"/>
						<p>
							<strong>Red Panda</strong>
							<br />
							<a href="redpanda.com">RedPanda.com</a>
							<br />
							<em>$$$$$Monies</em>
							<br />
							Rating?
						</p>
					</div>				<div class="col-sm-4">
					<!--Get images from clarifai-->
						<img class="icon" src="public/images/mainpanda.png" alt="red panda"/>
						<p>
							<strong>Red Panda</strong>
							<br />
							<a href="redpanda.com">RedPanda.com</a>
							<br />
							<em>$$$$$Monies</em>
							<br />
							Rating?
						</p>
					</div>
					<div class="col-sm-4">
					<!--Get images from clarifai-->
						<img class="icon" src="public/images/mainpanda.png" alt="red panda"/>
						<p>
							<strong>Red Panda</strong>
							<br />
							<a href="redpanda.com">RedPanda.com</a>
							<br />
							<em>$$$$$Monies</em>
							<br />
							Rating?
						</p>
					</div>
				</div>
				<div class="row">
				<div class="col-sm-4">
				<!--Get images from clarifai-->
					<img class="icon" src="public/images/mainpanda.png" alt="red panda"/>
					<p>
						<strong>Red Panda</strong>
						<br />
						<a href="redpanda.com">RedPanda.com</a>
						<br />
						<em>$$$$$Monies</em>
						<br />
						Rating?
					</p>
				</div>	
				<div class="col-sm-4">
				<!--Get images from clarifai-->
					<img class="icon" src="public/images/mainpanda.png" alt="red panda"/>
					<p>
						<strong>Red Panda</strong>
						<br />
						<a href="redpanda.com">RedPanda.com</a>
						<br />
						<em>$$$$$Monies</em>
						<br />
						Rating?
					</p>
				</div>
				<div class="col-sm-4">
				<!--Get images from clarifai-->
					<img class="icon" src="public/images/mainpanda.png" alt="red panda"/>
					<p>
						<strong>Red Panda</strong>
						<br />
						<a href="redpanda.com">RedPanda.com</a>
						<br />
						<em>$$$$$Monies</em>
						<br />
						Rating?
					</p>
					</div>
				</div>
			</div>

		</section>


		<footer>
			<p>@DubHacks2015</p>
		</footer>


		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>