doctype html
html.
	<head>
		<title>SnapShop</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/index.css" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
	</head>
	<body>
		<header>
			<img id="mainImg" src="images/snapshop.png" alt="title" />
		</header>
		
		<section class="banner">
			<p><strong>Your image:</strong></p>
			<img id="searchedImg" src="images/mainpanda.png" alt="red panda"/>
			<input id="temp" type="button" value="Return to Home" onclick="window.location='/';" />
		</section>

		<section class="results">
			<div class="container" id="container">
			
			</div>

		</section>


		<footer>
			<p>@DubHacks2015</p>
		</footer>


		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
			<script src="javascripts/search_results.js"></script>

	</body>
</html>