#logo {
	max-height: 2em;
	padding: 2em;
}

#banner {
	background-color: #669999;
}

.submit {
	margin-top: 1em; 
	margin-bottom: 1em;
}

.button {
	display: inline;
}

header {
	text-align: center;
	background-color: #0f9571;
	padding-top: 20px;
	padding-bottom: 15px;
}

footer {
	background-color:#0f9571;
	height: 100px;
}

.icon {
	margin: 15px;
	height: 7em;
	float: left;
}

#mainImg {
	height: 100%;
}

#searchedImg {
	text-align: center;
	height: 10em;
}

.results img{
	margin: auto;
}

.results {
	padding: 20px;
}

.area {
	width: 200px;
}
.button {
	background-color: #666;
	border-radius: 6px;
	border: 0;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-weight: 400;
	height: 3em;
	line-height: 3em;
	padding: 0 1em;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
}

.uploadButton {
	margin-right: 5%;
	margin-bottom: 3em;
}

img {
	max-height: 2em;
}

#banner2 {
	max-height: 400px;
}